<html>

<head>
  <title>Video Streaming Demonstration</title>
</head>

<body>
  <div align="center">
    <h2>Facial Landmark Detection</h2>
    <img src="{{ url_for('calc') }}">
  </div>
</body>

</html>
